Test reduction report for OSMO Tester

Number of tests generated: $testCount
Test lengths in iterations: $lengths
Final length: $finalLength

Invariants (for $shortests tests)):
Step counts:
#foreach ($step in $stepCounts)
  $step
#end
Final steps: $finalSteps

Precedences ($precedences.size()):
#foreach ($precedence in $precedences)
  $precedence
#end

Shared sequences:
#foreach ($sequence in $sequences)
  $sequence
#end

Missing steps:
#foreach ($step in $missingSteps)
  $step
#end
